<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mn.information.dao.InformationTypeMapper">
	<!-- 通用映射 -->
	<resultMap id="BaseResultMap" type="cn.mn.information.entity.InformationType">
		<result column="id" property="id" />
		<result column="type" property="type" />
	</resultMap>
    <!-- 通用字段 -->
    <sql id="all_column">
        id, type
    </sql>
    <!-- 通用插入 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO information_type
        (type)
        VALUES (#{type})
	</insert>
    <!-- 通用更新 -->
    <update id="updateById">
        UPDATE information_type
        SET type = #{type}
        WHERE id = #{id}
    </update>
    <!-- 通用按主键查询 -->
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        SELECT <include refid="all_column" />
        FROM information_type
        WHERE id = #{id}
    </select>
    <!-- 通用按主键删除 -->
    <delete id="deleteById" parameterType="java.lang.Integer" >
        DELETE FROM information_type
        WHERE id = #{id}
    </delete>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="all_column" />
        FROM information_type
    </select>

</mapper>
